*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
:root{
  --primary:red;
}
a{
    text-decoration: none;
}
header{
    background-color: antiquewhite;
}
header .main{
    display: flex;
    justify-content: space-between;
    height: 70px;
}
header .main .logo {
    font-size: 4rem;
}
header .main nav ul{
    list-style: none;
    display: flex;
    gap: 30px;
    margin-top: 25px;
}
header .main nav ul li a{
    font-size: 1.5rem;
    text-transform: uppercase;
    color: #000;
    font-weight: bold;

}
header .main nav ul li a::after{
    content: '';
    display: block;
    width: 0px;
    height: 3px;
    background-color: red;
    transition: .5s;

}
header .main nav ul li a:hover{
color: rgb(225, 63, 63);

}
header .main nav ul li a:hover::after{
    width: 100%;
}
header .main .contact{
    font-size: 1.5rem;
    margin-top: 25px;
}
/* main */
section main{
    margin-top: 50px;
    position: relative;
}

section main .wrap{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: end;
   border: 1px solid #999;
   border-radius: 5px 5px 0px 0;
   height: 100px;
   width: 80%;
   margin: 0 auto;
   padding: 10px;
   position: relative;
}
section main .wrap::before{
  content: 'Tuyến số 1';
  display: block;
  width: 100px;
  height: 30px;
  border-radius: 40%;
  background-color: yellow;
  text-align: center;
  line-height: 30px;
  font-weight: bold;
  text-transform: uppercase;
  position: absolute;
  top: 0;
  transition: 0.3s;
  transform: translateY(-50%);
}
section main .content:hover .wrap::before{
    width: 115px;
    height: 35px;
    line-height: 35px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    /* background-color: #11caf0; */
}
.station_wrap{
    position: relative;
    
}
section main .wrap input{
   display: none;
}
section main .wrap .station_wrap label{
cursor: pointer;
width: 60px;
 }
section main .wrap .station_wrap label > span{
    position: relative;
    transform: rotate(-45deg);
    bottom: 15px;
    /* overflow: hidden; */
    left: 20%;
    display: block;
    white-space: nowrap;
    transform-origin: left center;
    text-transform: capitalize;
 }
section main .wrap .station_wrap label .cricle{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: red;
    position: absolute;
    z-index: 10;
    transition: 0.2s;
 }
 section main .wrap .station_wrap label .cricle:hover{
    transform: scale(1.2);
    background-color: #cff4fc;
    border: #11caf0;
    z-index: 10;
 }
 section main .wrap .station_wrap::after{
    top: 70%;
    content: '';
    display: block;
    background-color: #999;
    position: absolute;
    transform: translateY(-50%);
    width: 100%;
    height: 4px;
    transition: 0.5s;
 }
 section main .wrap .station_wrap:first-child:after{
    display: none;
 }
 .wrap .station_wrap > input:not(:checked) + label .cricle {
    background-color: #fff;
    border: solid 3px #aaa;
 }
 .wrap .station_wrap > input:checked + label .cricle {
    background-color: #11caf0;
    border: solid 3px #11caf0;
 }
 .wrap .station_wrap > input:checked + label .content-item {
    opacity: 1;
 }
 .station_wrap:has(> input:checked) ~ .station_wrap  > label > .cricle {
    background-color: #cff4fc;
    border: solid 3px #11caf0;
  }
  .station_wrap:has(> input:checked) ~ .station_wrap:after {
    background-color: #11caf0;
  }
  .footer_main{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 10px;
    height: 30px;
    border:1px solid #999;
    background-color: rgb(154, 148, 148,0.3);
    border-radius: 0 0 5px 5px;
    width: 80%;
    margin: 0 auto;
    padding: 5px;
  }
  .footer_main .clock{
   background-color: #555;
   border-radius: 30px;
   line-height: 20px;
   width: 100px;
   height: 30px;
   text-align: center;
   color: #fff;
   height: auto;
  }
  .content-item{
    width: 70px;
    height: 25px;
    text-align: center;
    color: #fff;
    line-height: 25px;
    font-weight: bold;
    border-radius:30px ;
    background-color: #3658c6;
    position: absolute;
    transform: translate(-30%, 100%);
    opacity: 0;
    transition: .5s;
    padding: 1px;

  }
  .content-item::after{
    display: block;
    position: absolute;
    content: '';
    width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
    top: 0;
    left: 40%;
    transform: translateY(-80%);
    z-index: 99;
  border-bottom: 5px solid #3658c6;

  }
  .content-item span{
    padding: 0px 9px;
    text-align: center;
    color: #000000;
    background-color: #fff;
    border-radius: 20px;

  }
  .cricle:hover + .content-item{
    opacity: 1;
  }